.App {
  width: 80%;
  margin: 0 auto;
}
.bubbles :hover circle {
  stroke: #000;
}
.selector-container {
  text-align: center;
  padding-bottom: 20px;
}
.selector-container.lq {
  padding-bottom: 0;
}

.selector {
  width: 250px;
  display: inline-block;
  text-align: left;
}
.selector-label {
  display: inline-block;
  margin-right: 10px;
}

.spending-map circle {
  fill: none;
  /*set pointer events to none so hover events on circle won't fire*/
  pointer-events: none;
  stroke: #000;
}

.spending-map text {
  text-anchor: middle;
  /*set pointer events to none so hover events on circle won't fire*/
  pointer-events: none;
}

.spending-map path {
  fill: none;
  /*stroke:green;*/
  pointer-events: all;
  cursor: pointer;
}

.spending-map stroke {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.rewind-container {
  padding: 10px 0;
}
.text-container {
  text-align: center;
  padding-bottom: 20px;
}

.text-content {
  text-align: justify;
}
.dynamic-text {
  font-weight: bold;
}
.spending-map-button {
  margin-top: 14px;
}

.map-tooltip {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid lightgray;
  pointer-events: none;
}

.flower {
  isolation: isolate;
}
.flower path {
  mix-blend-mode: multiply;
  /*pointer-events:none;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}
